h header {{count}}
<select (change)="changeE()">
    <option value="A1">A1</option>
    <option value="A2">A2</option>
</select>
<br>
<a routerLink="mod1">A1</a>
<br>
<a routerLink="mod2">A2</a>

<br>
<br>