Mod1
{{title}}
{{listArr}}

<div class="container" (scroll)="onScroll($event)">
    <table>
        <thead>
            <th>
                Header
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let row of showData">
                <td>{{row}}</td>
            </tr>
        </tbody>
    </table>
</div>